{% extends 'accountregistrations/newbase.html' %}
{% load staticfiles %}
{% block content2 %}
<div id="peace-layout">
    {% include 'accountregistrations/header.html' %}
    <h2 align="center">The confirmation link was invalid, possibly because it has already been used.</h2>
</div>
{% endblock %}