{% extends 'accountregistrations/newbase.html' %}
{% load staticfiles %}
{% block content2 %}
<div id="peace-layout">
    {% include 'accountregistrations/header.html' %}
    <div class="container" style="margin-top: 15px;">
        <div class="row" style="text-align: center">
            <div class="col-md-12" align="center">
                <br>
                <h1 style="color: green">Please confirm your email address to complete the registration.</h1>
                <br>
                <h2 style="color: red;text-align: center;padding-bottom: 40px;">
                    If you don't receive confirmation mail within 1 day, 
                    please mail us your username and email with which you have made your account. 
                    We'll check and revert.
                </h2>
            </div>
        </div>
    </div>

</div>
{% endblock %}