{% load staticfiles %}
{% load notification_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Divya Kripa</title>
    <!-- css include -->
    <link rel='stylesheet' id='bootstrap-css' href='{% static 'css/bootstrap.min.css' %}' type='text/css' media='all'/>
    <link rel='stylesheet' id='fontawesome-css' href='{% static 'css/font-awesome.min.css' %}' type='text/css'
          media='all'/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet">
    <link rel='stylesheet' id='theme-css-css' href='{% static 'css/theme-style.css' %}' type='text/css' media='all'/>
    <link rel='stylesheet' id='peace-style-css' href='{% static 'css/home-style.css' %}' type='text/css' media='all'/>
    <link rel='stylesheet' id='masterslider-css' href='{% static 'css/masterslider.main.css' %}' type='text/css'
          media='all'/>
    <!-- js inlcude -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
    <script type='text/javascript' src='{% static 'js/script.js' %}'></script>
    <script type="text/javascript">
        $(window).load(function () {
            $('#errors').modal('show');
        });
    </script>
    {% include 'darshan/error_message.html' %}
    {% block head_extra %}
    {% endblock head_extra %}
</head>

<body class="home page">
{#<div id="preloader">#}
{#    <div id="loader">#}
{#        <div class="loader-inner ball-scale-multiple">#}
{#            <div></div>#}
{#            <div></div>#}
{#            <div></div>#}
{#        </div>#}
{#        <!-- loader inner -->#}
{#    </div>#}
{#    <!-- /#loader -->#}
{#</div>#}
<!-- /#preloader -->
{% block content2 %}
{% endblock %}
<!-- loaction start -->
<div id="location">
    <div class="container">
        <div class="row">
            <div class="social-icons">
                <ul>
                    <li class="facebook"><a href="http://facebook.com/id"><i
                            class="fa fa-facebook"></i><span>Facebook</span></a>
                    </li>
                    <li class="twitter"><a href="http://twitter.com/id"><i
                            class="fa fa-twitter"></i><span>Twitter</span></a>
                    </li>
                    <li class="vimeo"><a href="http://vimeo.com/id"><i
                            class="fa fa-vimeo-square"></i><span>Vimeo</span></a>
                    </li>
                    <li class="behance"><a href="http://behance.com/id"><i
                            class="fa fa-behance"></i><span>Behance</span></a>
                    </li>
                </ul>
            </div>
            <!-- end social icon-->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- end loaction-->


<div class="footer-widget">
    <div class="container">
        <aside id="text-2" class="widget widget_text">
            <div class="col-md-3">
                <h2 class="widget-title">About DivyaKripa </h2>
                <div class="textwidget"><img src="{% static 'images/09/Untitled-1.jpg' %}" alt="about-place"/>
                    <br/>
                    <br/> Dramatically strategize economically sound action items for e-business niches. Quickly
                    re-engineer 24/365 potentialities before.
                </div>
            </div>
            <!-- end col md 3 -->
        </aside>

        <aside id="tag_cloud-4" class="widget widget_tag_cloud">
            <div class="col-md-3">
                <h2 class="widget-title">Post Tag</h2>
                <div class="tagcloud">
                    <a href='#' class='tag-link-37' title='1 topic' style='font-size: 8pt;'>Religion</a>
                    <a href='#' class='tag-link-38' title='1 topic' style='font-size: 8pt;'>Hindu</a>
                    <a href='#' class='tag-link-32' title='1 topic' style='font-size: 8pt;'>Magazine</a>
                    <a href='#' class='tag-link-36' title='1 topic' style='font-size: 8pt;'>Dharshan</a>
                    <a href='#' class='tag-link-31' title='1 topic' style='font-size: 8pt;'>News</a>
                    <a href='#' class='tag-link-34' title='1 topic' style='font-size: 8pt;'>Blog</a>
                    <a href='#' class='tag-link-35' title='1 topic' style='font-size: 8pt;'>Spiritual</a>
                    <a href='#' class='tag-link-33' title='1 topic' style='font-size: 8pt;'>WordPress</a>
                    <a href='#' class='tag-link-33' title='1 topic' style='font-size: 8pt;'>Web Development</a>
                    <a href='#' class='tag-link-33' title='1 topic' style='font-size: 8pt;'>Design</a>
                    <a href='#' class='tag-link-33' title='1 topic' style='font-size: 8pt;'>Photography</a>
                    <a href='#' class='tag-link-33' title='1 topic' style='font-size: 8pt;'>Media</a>
                </div>
                <!-- end tagcloud -->
            </div>
            <!-- end col md 3 -->
        </aside>

        <aside id="ccr_popular_posts-5" class="widget widget_ccr_popular_posts">
            <div class="col-md-3">
                <h2 class="widget-title">Recent Post</h2>
                <ul class="popular-post">
                    <li>
                        <img width="150" height="150" src="{% static 'images/09/02-150x150.jpg' %}"
                             class="attachment-thumbnail wp-post-image" alt="02"/>
                        <a href="#" title="Collaboratively coordinate.">
                            Collaboratively coordinate.
                        </a>
                        <br>
                        <i class="fa fa-calendar-o"></i>
                        <time class="post-meta-element" datetime="2015-09-10">10 September, 2015</time>
                    </li>
                    <li>
                        <img width="150" height="150" src="{% static 'images/09/03-150x150.jpg' %}"
                             class="attachment-thumbnail wp-post-image" alt="03"/>
                        <a href="#" title="Quickly develop exceptional">
                            Quickly develop exceptional
                        </a>
                        <br>
                        <i class="fa fa-calendar-o"></i>
                        <time class="post-meta-element" datetime="2015-09-10">10 September, 2015</time>
                    </li>
                    <li>
                        <img width="150" height="150" src="{% static 'images/09/01-150x150.jpg' %}"
                             class="attachment-thumbnail wp-post-image" alt="01"/>
                        <a href="#" title="Why you need Peace WordPress Theme?">
                            Why you need Divyakripa Theme?</a>
                        <br>
                        <i class="fa fa-calendar-o"></i>
                        <time class="post-meta-element" datetime="2015-09-10">10 September, 2015</time>
                    </li>
                </ul>
                <!-- /.latest-post -->
            </div>
            <!-- end col md 3 -->
        </aside>

        <aside id="meta-3" class="widget widget_meta">
            <div class="col-md-3">
                <h2 class="widget-title">Useful Links</h2>
                <ul>
                    <li><a href="#">Entries <abbr title="Really Simple Syndication">RSS</abbr></a>
                    </li>
                    <li><a href="#">Comments <abbr title="Really Simple Syndication">RSS</abbr></a>
                    </li>
                    <li><a href="#"
                           title="Powered by Divyakripa, state-of-the-art semantic personal publishing platform.">Divyakripa</a>
                    </li>
                    <li><a href="#">Google</a>
                    </li>
                    <li><a href="#">Envato</a>
                    </li>
                </ul>
            </div>
            <!-- end col md 3 -->
        </aside>
    </div>
    <!-- end container -->
</div>
<!-- end footer widget -->


<!-- start footer -->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="clearfix"></div>
            <div class="logo text-center">
                <a href="#"><img src="{% static 'images/logo-08.png' %}" alt="Peace">
                </a>
            </div>
            <!-- /.logo -->
            <div class="copyright">
                <p>Copyright © 2015
                    <a href="#">DivyaKripa</a> | Designed by <a
                            href="#"></a>
                </p>
            </div>
            <!-- .copyright -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</footer>
<!-- end footer -->
<!-- js include -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.4.0/marked.js"></script>

<script type='text/javascript' src='http://maps.google.com/maps/api/js?sensor=true&amp;ver=1.0'></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121617950-1"></script>
<script type='text/javascript' src='{% static 'js/plugins.js' %}'></script>
<script type='text/javascript' src='{% static 'js/masterslider.min.js' %}'></script>
<script type='text/javascript' src='{% static 'js/functions.js' %}'></script>
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
<!-- custom -->

{#<script type="text/javascript">#}
{#    function googleTranslateElementInit() {#}
{#        new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');#}
{#    }#}
{#</script>#}
<script src="{% static "notify/notifyX.min.js" %}"></script>
{#<script type="text/javascript"#}
{#        src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>#}
<script>
    {#$(document).ready(function () {#}
    {#    $('.has-popover').popover({'trigger': 'hover', 'html': 'true'})#}


    $(document).ready(function () {
        $('#id_Select_Temple').select2();
    });

    $(document).ready(function () {
        $('.django-select').select2();
    });


    $(document).ready(function () {
        $(".content-markdown").each(function () {
            var content = $(this).text();
            {#console.log(content)#}
            var markedContent = marked(content);
            {#console.log(markedContent)#}
            $(this).html(markedContent);
        })
    });


</script>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121617950-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-121617950-1');
</script>
</body>
</html>