{% extends 'accountregistrations/newbase.html' %}
{% load staticfiles %}
{% load temple_extra %}

{% block title %}
    Your Shopping Cart
{% endblock %}

{% block content2 %}
    <div id="peace-layout">
        {% include 'accountregistrations/header.html' %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h2>Your Shopping Cart</h2>

                </div>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Image</th>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Remove</th>
                        <th>Unit Price</th>
                        <th>Price</th>
                    </tr>
                    <!-- for Authenticated User -->
                    {% for item in cart %}
                        {% for x in item.product_id|products1 %}
                            <tr style="margin-bottom: 15px">
                                <td style="max-width:375px !important;">
                                    <a href="#">
                                        <img {% if x.Photo %} src="{{ x.Photo.url }}" {% endif %}
                                                              alt="{{ x.Product_Name }}"
                                                              style="max-width: 250px !important; padding: 15px">
                                    </a>
                                </td>
                                <td>{{ x.Product_Name }}</td>
                                <td>
                                    <form action="{% url 'cart:update_quantity' x.id %}" method="post" name="update">
                                        <select name="quantity" id="id_quantity">
                                            <!--<option value="1">1</option>-->
                                            {% for x in loop_times %}
                                                <option value={{ x }}>{{ x }}</option>
                                            {% endfor %}
                                        </select>
                                        <input type="submit" class="btn btn-primary" name="update" value="Update"
                                               id="id_update"/>
                                        {% csrf_token %}
                                    </form>
                                </td>
                                <td><a href="{% url 'cart:remove_from_cart' product_id=item.id %}" class="btn" style="color: #FFF;
    background: #F1C152;
    border-color: #CCA242;">Remove</a></td>
                                <td class="num">&#8377;{{ x.Price }}</td>
                                <td class="num">&#8377;{% multiply item.quantity x.Price %}</td>
                            </tr>

                        {% endfor %}
                    {% endfor %}

                    </thead>
                </table>
            </div>

            <div align="center">
                <a href="{% url 'shop:allproducts' %}" class="btn btn-primary">Continue Shopping</a>
                <hr>

                {% if quantity > 0 %}
                    <a href="{% url 'orders:order_create' %}" class="btn btn-primary">Buy Now</a>

                {% elif quantity == 0 %}
                    <a class="launch-modal" data-toggle="modal" data-modal-id="myModal7" style="color:black;">Buy
                        Now</a>
                {% endif %}
                <!-- Modal -->
                <div class="modal fade" id="myModal7" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Warning</h4>
                            </div>

                            <div class="modal-body">
                                <span>Add Products to cart to buy</span>
                            </div>


                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>
{% endblock %}