{% extends 'accountregistrations/newbase.html' %}
{% load staticfiles %}
{% load temple_extra %}

{% block content2 %}
    <div id="peace-layout">
        {% include 'accountregistrations/header.html' %}
        <div class="container" style="margin-top: 15px">

            <div class="row">
                <div class="col-md-12">
                    <h1> Checkout</h1>
                    <div>
                        <h3>Your Order</h3>
                        <ul>
                            {% for item in items %}
                                {% for x in item.product_id|products1 %}
                                    <li>{{ item.quantity }} x {{ x.Product_Name }} (&#8377;{{ x.Price }}) =
                                        <span>&#8377;{% multiply item.quantity x.Price %}</span></li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                        <p>Total: &#8377;{{ total_cost }}</p>

                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>
{% endblock %}