{% extends 'accountregistrations/newbase.html' %}
{% load staticfiles %}

{% block title %}
    Thank You
{% endblock %}

{% block content2 %}
    <div id="peace-layout">
        {% include 'accountregistrations/header.html' %}
        <div class="container" style="margin-top: 15px">
            <div class="row">
                <div class="col-md-12" align="center">
                    <h1>Thank You</h1>
                    <p>
                        Your order has been successfully completed.Your order number is
                        <br>
                        <strong>
                            {{ order.id }}.Now click on pay to proceed
                        </strong>
                    </p>
                    <a href="{% url 'orders:payment' %}">
                        <button class="btn btn-primary">
                            Pay
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
{% endblock %}