{% extends 'accountregistrations/newbase.html' %}
{% load staticfiles %}

{#{% block head %}#}
{#    {{ user_form.media.css }}#}
{#    {{ profile_form }}#}
{#{% endblock %}#}

{% block content2 %}
    <div id="peace-layout">
        <header id="top-section">
            {% include 'accountregistrations/header.html' %}
        </header>
        <!-- Darshan start -->
        <section id="shop" class="woocommerce blog-page-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 md-bm50">
                        <div id="primary-area">
                            <div class="col-md-12">
                                <div class="clearfix shop-short">
                                    <div class="col-sm-5 p0"> <!-- this class is end in result-count.php -->
                                        <p class="woocommerce-result-count">Showing 1–6 of 23 results</p>
                                    </div><!-- end col sm 5 -->

                                    <div class="col-sm-7 p0">
                                        <form class="woocommerce-ordering" method="get">
                                            <select name="orderby" class="orderby pull-right">
                                                <option value="menu_order" selected="selected">Default sorting</option>
                                                <option value="popularity">Sort by popularity</option>
                                                <option value="rating">Sort by average rating</option>
                                                <option value="date">Sort by newness</option>
                                                <option value="price">Sort by distance</option>
                                            </select>
                                            <input type="hidden" name="post_type" value="product">
                                        </form>
                                    </div>  <!-- end col sm 7 -->
                                </div><!-- end shop short -->
                            </div><!-- end col sm 12 -->

                            <div class="products product-lists margin-minus-15 clearfix">
                                {% for y in object_list %}
                                    <div class="col-sm-4 col-xs-6 xs-full">
                                        <div class="product-item clearfix">
                                            <div class="product-image">
                                                <a class="thumb">
                                                    {% if y.Display_image %}
                                                        <img width="300" height="300" src="{{ y.Display_image.url }}"
                                                             class="attachment-shop_catalog wp-post-image"
                                                             alt="{{ y.temple2 }}"
                                                             style="max-height: 300px !important; min-height: 300px !important;">
                                                    {% endif %}
                                                </a>
                                                <a href="{{ y.Display_image.url }}"
                                                   class="quick-view boxer fs-lightbox-element"
                                                   title="{{ y.temple2 }}"><span>{{ y.temple2 }}</span></a>
                                            </div><!-- end product image -->

                                            <div class="product-description">
                                                <div class="product-head">
                                                    <h2 class="product-title">
                                                        <a href="{% url 'darshan:detail' temp1=y.temple2 %}">
                                                            {{ y.temple2|truncatechars:18 }}
                                                        </a>
                                                    </h2>
                                                </div><!-- end product head -->

                                                <div class="product-action">
                                                    <a href="{% url 'darshan:detail' temp1=y.temple2 %}" rel="nofollow" class="btn add-to-cart  add_to_cart_button product_type_simple">
                                                        <i class="fa">View</i>
                                                    </a>
                                                </div><!-- end product action -->
                                            </div><!-- end product descr -->
                                        </div><!--  /.product-item -->
                                    </div><!-- end col sm 4 -->
                                {% endfor %}
                            </div><!-- end product list-->
                        </div><!-- end primary area -->
                    </div><!-- col-md-9 md-bm50 -->


                    <div class="col-md-3 blog-sidebar">
                        <aside id="search-2" class="widget widget_search"><h2 class="widget-title">Search Now</h2>
                            <div class="blog-search-bar">
                                <form method="get" class="form-search" action="#">
                                    <div class="input-append">
                                        <input type="search" class="form-control search-field"
                                               placeholder="Type and Hit Enter ..." value="" name="s"
                                               title="Search for:">
                                        <button type="submit" class="add-on"><i class="fa fa-search"></i></button>
                                    </div><!-- end input append -->
                                </form>
                            </div><!-- end blog search -->
                        </aside><!-- end widget -->

                        <aside id="ccr_popular_posts-4" class="widget widget_ccr_popular_posts"><h2
                                class="widget-title">Recent Post</h2>
                            <ul class="popular-post">

                                <li>
                                    <img width="150" height="150" src="{% static 'images/09/02-150x150.jpg' %}"
                                         class="attachment-thumbnail wp-post-image" alt="02">
                                    <a href="#" title="Collaboratively coordinate.">
                                        Collaboratively coordinate.
                                    </a> <br>
                                    <i class="fa fa-calendar-o"></i>
                                    <time class="post-meta-element" datetime="2015-09-10">10 September, 2015</time>
                                </li>

                                <li>
                                    <img width="150" height="150" src="{% static 'images/09/03-150x150.jpg' %}"
                                         class="attachment-thumbnail wp-post-image" alt="03" data-pin-nopin="true"> <a
                                        href="#" title="Quickly develop exceptional">Quickly develop exceptional</a>
                                    <br>
                                    <i class="fa fa-calendar-o"></i>
                                    <time class="post-meta-element" datetime="2015-09-10">10 September, 2015</time>
                                </li>

                                <li>
                                    <img width="150" height="150" src="{% static 'images/09/01-150x150.jpg' %}"
                                         class="attachment-thumbnail wp-post-image" alt="01">
                                    <a href="#" title="Why you need Peace WordPress Theme?">
                                        Why you need Peace WordPress Theme?
                                    </a><br>
                                    <i class="fa fa-calendar-o"></i>
                                    <time class="post-meta-element" datetime="2015-09-10">10 September, 2015</time>
                                </li>

                                <li>
                                    <img width="150" height="150" src="{% static 'images/09/05-150x150.jpg' %}"
                                         class="attachment-thumbnail wp-post-image" alt="05">
                                    <a href="#" title="What You Know About Life">
                                        What You Know About Life
                                    </a> <br>
                                    <i class="fa fa-calendar-o"></i>
                                    <time class="post-meta-element" datetime="2015-09-07">7 September, 2015</time>
                                </li>
                            </ul><!-- /.latest-post -->
                        </aside><!-- end widget -->

                        <aside id="tag_cloud-3" class="widget widget_tag_cloud"><h2 class="widget-title">Post Cloud</h2>
                            <div class="tagcloud">
                                <a href="#" class="tag-link-37" title="1 topic" style="font-size: 8pt;">Religion</a>
                                <a href="#" class="tag-link-38" title="1 topic" style="font-size: 8pt;">Hindu</a>
                                <a href="#" class="tag-link-32" title="1 topic" style="font-size: 8pt;">Magazine</a>
                                <a href="#" class="tag-link-36" title="1 topic" style="font-size: 8pt;">Darshan</a>
                                <a href="#" class="tag-link-31" title="1 topic" style="font-size: 8pt;">News</a>
                                <a href="#" class="tag-link-34" title="1 topic" style="font-size: 8pt;">SEO</a>
                                <a href="#" class="tag-link-35" title="1 topic" style="font-size: 8pt;">Themes</a>
                                <a href="#" class="tag-link-33" title="1 topic" style="font-size: 8pt;">Development</a>
                            </div><!-- end tag cloud -->
                        </aside><!-- end widget -->

                        <aside id="categories-2" class="widget widget_categories"><h2 class="widget-title">
                            Categories</h2>
                            <ul>
                                <li class="cat-item cat-item-1"><a href="http://themes.codexcoder.com/peace/?cat=1">Temple</a>
                                </li>
                            </ul>
                        </aside><!-- end widget -->
                    </div><!-- sidebar -->
                </div><!-- /.row -->
                <div class="row">
                    <div class="col-md-12" align="center">
                        <div class="pagination">
                    <span class="step-links">
                        {% if object_list.has_previous %}
                            <a href="?{{ page_change_var }}=1">&laquo; first</a>
                            <a href="?{{ page_change_var }}={{ object_list.previous_page_number }} {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
                        </span>

                        {% if object_list.has_next %}
                            <a href="?{{ page_change_var }}={{ object_list.next_page_number }} {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
                            <a href="?{{ page_change_var }}={{ object_list.paginator.num_pages }} ">last &raquo;</a>
                        {% endif %}
                    </span>
                        </div>
                    </div>
                </div>
            </div><!-- /.container -->
        </section><!-- end shop -->

    </div>
{% endblock %}

