{% extends 'accountregistrations/newbase.html' %}
{% load staticfiles %}
{% load temple_extra %}
{% block content2 %}
    <div id="peace-layout">
        {% include 'accountregistrations/header.html' %}
        <div class="container" style="margin-top: 15px">
        <div class="row">
            {% for pra in prasad %}
                <div class="col-sm-3">
                    <div class="thumbnail">
                        <img class="image-container img-responsive roundedCorner"
                        {% if pra.Photo %} src="{{ pra.Photo.url }}" {% else %} alt="{{ pra.Product_Name }}" {% endif %} 
                              style="min-width: 150px">
                        {{ pra.Product_Name }}<br>
                        {{ pra.Price }}
                        
                        <a href="{% url 'shop:details1' pk=pra.id %}">
                            <button class="btn btn-default" style="float: right;margin-bottom: 10px;">
                                Buy Now
                            </button>
                        </a>

                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    </div>
{% endblock%}