{% extends 'accountregistrations/newbase.html' %}
{% load staticfiles %}
{% load temple_extra %}
{% block head_extra %}
    <script type='text/javascript'
            src='//platform-api.sharethis.com/js/sharethis.js#property=5b35f20747b80c0011966093&product=inline-share-buttons'
            async='async'></script>
{% endblock head_extra %}
{% block content2 %}
    <div id="peace-layout">
        <header id="top-section">
            {% include 'accountregistrations/header.html' %}
        </header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h3 style="text-align: center;">{{ q.temple2 }}</h3>
                </div>
            </div>
            <div class=" row display">
                <div class="col-md-5">

                    <img class="pictureImage"  {% if q.Latest_to_be_updated_image %}
                         src="{{ q.Latest_to_be_updated_image.url }}"
                    {% else %} alt="{{ q.temple2 }}" {% endif %}>

                </div>
                <div class="col-md-4">
                    <table id="darshan" style="width: 100%">

                        <h3 style="font-family: sans-serif;text-align: center">Temple Timings</h3>



                        {% for z in s %}
                            <tr>
                                <td>{{ z.rituals }}</td>
                                <td>{{ z.timings }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>

                <div class="col-md-3">
                    <button class="btn btn-primary" id="bookPooja"
                            style="margin-bottom: 20px; margin-left: 10px; width: 200px; height: 34px;">
                        <a href="" style="color: white">
                            Book Pooja
                        </a>
                    </button>
                    <br>

                    {% if user.is_authenticated %}

                        <a style="color: white" {% if q.Online_Prasad %} href="{{ q.Online_Prasad }}" {% else %}
                           href="{% url 'darshan:all_Prasad' pk=q.id %}"{% endif %}>
                            <button class="btn btn-primary" style="margin-bottom: 20px; margin-left: 10px; width: 200px; height: 34px;">
                                Buy Prasad
                            </button>
                        </a>
                        <br>
                    {% else %}

                         <button class="btn btn-primary"  data-toggle="modal" data-target="#myModal4"
                                    data-backdrop="static" style="margin-bottom: 20px; margin-left: 10px; width: 200px; height: 34px;color: white;">

                                Buy Prasad

                        </button>


                        <br>
                    {% endif %}

                    {% if user.is_authenticated %}
                     <a style="color: white" {% if q.Online_Donation %} href="{{ q.Online_Donation }}" {% else %}
                               href="{% url 'orders:Online_Donation'  v=q.temple2 %}" {% endif %}>
                        <button class="btn btn-primary"
                                style="margin-bottom: 20px; margin-left: 10px; width: 200px; height: 34px;">
                            Make Donation
                        </button>
                     </a>
                    {% else %}

                        <button class="btn btn-primary"  data-toggle="modal" data-target="#myModal4"
                                    data-backdrop="static" style="margin-bottom: 20px; margin-left: 10px; width: 200px; height: 34px;color: white;">

                                Make Donation

                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="myModal4" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Warning</h4>
                                    </div>

                                    <div class="modal-body">
                                        <p><strong>Signup or login as USER</strong></p>
                                    </div>

                                    <div class="modal-footer">
                                        <a class="launch-modal" data-toggle="modal" data-modal-id="modal-login"
                                           style="color: white">
                                            <button type="button" style="color: black;" class="btn btn-default" data-dismiss="modal">OK
                                            </button>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    {% endif %}
                    <br>
                    {% if user.is_authenticated %}
                        <a href="{% url 'darshan:selectedTemple' pk=q.id %}" style="color: white">
                        <button class="btn btn-primary"
                                style="margin-bottom: 20px; margin-left: 10px; width: 200px; height: 34px;">

                                Gallery

                        </button>
                        </a>
                    {% else %}
                        <button class="btn btn-primary"  data-toggle="modal" data-target="#myModal4"
                                    data-backdrop="static" style="margin-bottom: 20px; margin-left: 10px; width: 200px; height: 34px;color: white;">

                                Gallery

                        </button>

                    {% endif %}
                    <br>
                    <div class="sharethis-inline-share-buttons"></div>
                </div>
            </div>
            <hr>
            <h2 class="text-center" style="font-family:'Carter One';color: black">Temple details</h2>
            <ul class="nav nav-tabs row">
                <li class="col-sm-2 col-md-offset-1"><a data-toggle="tab" href="#menu1">About Temple</a></li>
                <li class="col-sm-2"><a data-toggle="tab" href="#menu2">Administration</a></li>
                <li class="col-sm-2"><a data-toggle="tab" href="#menu3">Temple Facilities</a></li>
                <li class="col-sm-2"><a data-toggle="tab" href="#menu4">Visit Temple</a></li>
                <li class="col-sm-2"><a data-toggle="tab" href="#menu5">Miscelleneous</a></li>
            </ul>
            <!-- tab contents -->

            <div class="tab-content" id="detail">
                <div id="menu1" class="tab-pane active">
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <h2 style="font-family: 'Carter One';text-align: center;">{{ q.temple2 }}</h2>
                        </tr>
                        <tr>
                            <td>Deity</td>
                            <td>{{ q.Deity }}</td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td class="content-markdown">{{ q.Address }}</td>
                        </tr>

                        <tr>
                            <td>About Temple</td>
                            <td class="content-markdown">{{ q.About_Temple }}</td>
                        </tr>

                        <tr>
                            <td>Temple Purohit</td>
                            <td>{{ q.Temple_Purohit }}</td>
                        </tr>


                        <tr>

                            <td>Email</td>
                            <td>{{ q.Email }}</td>
                        </tr>
                        <tr>
                            <td>Contacts</td>
                            <td>{{ q.Contacts }}</td>
                        </tr>
                        <tr>
                            <td>Phone Number</td>
                            <td>{{ q.Phone_Number }}</td>
                        </tr>
                        <tr>
                            <td>City</td>
                            <td>{{ q.City }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div id="menu2" class="tab-pane fade">
                    <table class="table table-striped">
                        <tbody>
                        {% if q.Live_Darshan_Link %}
                            <tr>
                                <td>Live Darshan link</td>
                                <td><a href="{{ q.Live_Darshan_link }}">Click Here</a></td>
                            </tr>
                        {% endif %}

                        {% if q.Religion %}
                            <tr>
                                <td>Religion</td>
                                <td>{{ q.Religion }}"</td>
                            </tr>
                        {% endif %}

                        {% if q.Website %}
                            <tr>
                                <td><a href="{{ q.Website }}" target="_blank" style="color: black">Website</a></td>
                                <td><a href="{{ q.Website }}" target="_blank">Click Here</a></td>
                            </tr>
                        {% endif %}

                        {% if q.Related_Temple %}
                            <tr>
                                <td>Related Temple</td>
                                <td class="content-markdown">{{ q.Related_Temple }}</td>
                            </tr>
                        {% endif %}

                        {% if q.Related_Faith %}
                            <tr>
                                <td>Related Faith</td>
                                <td class="content-markdown">{{ q.Related_Faith }}</td>
                            </tr>
                        {% endif %}

                        {% if q.Temple_History %}
                            <tr>
                                <td>Temple History</td>
                                <td class="content-markdown">{{ q.Temple_History }}</td>
                            </tr>
                        {% endif %}

                        {% if q.Significance %}
                            <tr>
                                <td>Significance</td>
                                <td class="content-markdown">{{ q.Significance }}</td>
                            </tr>
                        {% endif %}

                        {% if q.Management %}
                            <tr>
                                <td>Management</td>
                                <td class="content-markdown">{{ q.Management }}</td>
                            </tr>
                        {% endif %}
                        {% if q.Other_Deities %}
                            <tr>
                                <td>Other Deities</td>
                                <td class="content-markdown">{{ q.Other_Deities }}</td>
                            </tr>
                        {% endif %}


                        </tbody>
                    </table>
                </div>

                <div id="menu3" class="tab-pane fade">
                    <table class="table table-striped">

                        <tbody>
                        {% if q.Online_Donation %}
                            <tr>
                                <td><a href="{{ q.Online_Donation }}" target="_blank">Online Donation</a></td>
                                <td><a href="{{ q.Online_Donation }}" target="_blank">Click here</a></td>
                            </tr>
                        {% endif %}

                        {% if q.Online_Pooja %}
                            <tr>
                                <td><a href="{{ q.Online_Pooja }}" target="_blank">Online Pooja</a></td>
                                <td><a href="{{ q.Online_Pooja }}" target="_blank">Click here</a></td>
                            </tr>
                        {% endif %}

                        {% if q.Online_Facility %}
                            <tr>
                                <td><a href="{{ q.Online_Facility }}" target="_blank">Online Facility</a></td>
                                <td><a href="{{ q.Online_Facility }}" target="_blank">Click here</a></td>
                            </tr>
                        {% endif %}
                        {% if q.Accomodation_Link %}
                            <tr>
                                <td><a href="{{ q.Accomodation_Link }}" target="_blank">Accomodation Link</a></td>
                                <td><a href="{{ q.Accomodation_Link }}" target="_blank">Click here</a></td>
                            </tr>
                        {% endif %}
                        {% if q.Transportation %}
                            <tr>
                                <td>Transportation</td>
                                <td class="content-markdown">{{ q.Transportation }}</td>
                            </tr>
                        {% endif %}
                        {% if q.Annakshetra %}
                            <tr>
                                <td>Annakshetra</td>
                                <td>Available</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>

                <div id="menu4" class="tab-pane fade">
                    <table class="table table-striped">
                        <tbody>
                        {% if q.State %}
                            <tr>
                                <td>State</td>
                                <td>{{ q.State }}</td>
                            </tr>
                        {% endif %}
                        {% if q.Country %}
                            <tr>
                                <td>Country</td>
                                <td>{{ q.Country }}</td>
                            </tr>
                        {% endif %}
                        {% if q.About_City %}
                            <tr>
                                <td>About City</td>

                                <td class="content-markdown">{{ q.About_City }}</td>

                            </tr>
                        {% endif %}
                        {% if q.How_To_Reach %}
                            <tr>
                                <td>How To Reach</td>
                                <td class="content-markdown">{{ q.How_To_Reach }}</td>
                            </tr>
                        {% endif %}
                        {% if q.Do_And_Dont %}
                            <tr>
                                <td>Do And Dont</td>
                                <td class="content-markdown">{{ q.Do_And_Dont }}</td>
                            </tr>
                        {% endif %}
                        {% if q.Amenities %}
                            <tr>
                                <td>Amenities</td>
                                <td class="content-markdown">{{ q.Amenities }}</td>
                            </tr>
                        {% endif %}
                        {% if q.Celebration %}
                            <tr>
                                <td>Celebration</td>

                                <td class="content-markdown">{{ q.Celebration }}</td>
                            </tr>
                        {% endif %}
                        {% if q.Precaution_While_Visiting %}
                            <tr>
                                <td>Precaution While Visiting</td>
                                <td class="content-markdown">{{ q.Precaution_While_Visiting }}</td>
                            </tr>
                        {% endif %}
                        </tbody>


                    </table>
                </div>

                <div id="menu5" class="tab-pane fade">
                    <table class="table table-striped">
                        <tbody>
                        {% if q.Tender %}
                            <tr>
                                <td>Tender</td>
                                <td><a href="{{ q.Tender.url }}">download</a></td>
                            </tr>
                        {% endif %}
                        {% if q.Recruitment %}
                            <tr>
                                <td>Recruitment</td>
                                <td class="content-markdown">{{ q.Recruitment }}</td>
                            </tr>
                        {% endif %}
                        {% if q.Notices_and_Updates %}
                            <tr>
                                <td>Notices and Updates</td>
                                <td class="content-markdown">{{ q.Notices_and_Updates }}</td>
                            </tr>
                        {% endif %}

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

{% endblock %}