{% extends 'accountregistrations/newbase.html' %}
{% load staticfiles %}
{% block content2 %}
    <!-- peace layout start. -->
    <div id="peace-layout">
        <!-- /.container -->
        {% include 'accountregistrations/header.html' %}
        <!-- start Festival portfolio -->
        <!-- start portfolio -->
        <section class="section-padding" style="padding-bottom: unset!important;">
            <h2 class="section-title wow fadeInUp" data-wow-delay="0.4s"
                style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">Gallery Default </h2>
            <div class="section-detail wow fadeInUp" data-wow-delay="0.6s"
                 style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">Enthusiastically
                underwhelm quality benefits rather than professional ``outside the box`` thinking. Distinctively network
                highly efficient leadership skills
            </div><!-- /.section-detail -->
            <div class="portfolio gallery-section wow fadeInUp" data-wow-delay="0.6s"
                 style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                <div class="container">
                    <div class="isotope-filters portfolio-filter">
                        <button class="button is-checked" data-sort-by="original-order">ALL</button>
                        <button data-filter=".christmas">DURGA PUJA</button>
                        <button data-filter=".corpus-christi">HOLI</button>
                        <button data-filter=".holy-innocents">DIPAWALI</button>
                        <button data-filter=".lammas">JANMASHTAMI</button>
                    </div><!-- end isotope filter -->
                </div><!-- end container -->
                <div class="clearfix portfolio-item isotope-items isotope-masonry-items"
                     style="position: relative; height: 376.594px;">
                {% if not user.is_authenticated %}
                    {% for p in pic %}

                        <div class="item lammas effect-oscar"
                             style="width: 269px; height: 188.3px; position: absolute; left: 0px; top: 0px;">
                            <img width="1000" height="738" src="{% if p.image %}{{ p.image.url }}{% endif %}"
                                 class="attachment-gallery-thumb wp-post-image" alt="gallery9">

                            <div class="item-description">
                                {% if p.image %}
                                    <div class="item-link">
                                        <a class="boxer fs-lightbox-element" data-boxer-height="500"
                                           data-boxer-width="500"
                                           href="{{ p.image.url }}">
                                            <i class="fa plus-sign"></i>
                                        </a>
                                    </div><!-- /.item-link -->
                                {% endif %}
                            </div><!-- end item desc -->

                        </div><!-- end item -->
                    {% endfor %}
                {% else %}
                    {% for p in object_list %}
                        <div class="item lammas effect-oscar"
                             style="width: 269px; height: 188.3px; position: absolute; left: 0px; top: 0px;">
                            <img width="1000" height="738" src="{% if p.image %}{{ p.image.url }}{% endif %}"
                                 class="attachment-gallery-thumb wp-post-image" alt="gallery9">

                            <div class="item-description">
                                {% if p.image %}
                                    <div class="item-link">
                                        <a class="boxer fs-lightbox-element" data-boxer-height="500"
                                           data-boxer-width="500"
                                           href="{{ p.image.url }}">
                                            <i class="fa plus-sign"></i>
                                        </a>
                                    </div><!-- /.item-link -->
                                {% endif %}
                            </div><!-- end item desc -->

                        </div><!-- end item -->
                    {% endfor %}
                {% endif %}
                </div><!-- /.gallery-item -->
                {% if not user.is_authenticated %}
                    <a class="read-more launch-modal" data-toggle="modal" data-target="#myModal2"
                       data-backdrop="static">
                        View More
                    </a>

                {% endif %}
                <div class="clearfix"></div>
            </div><!-- end portfolio -->
            <div class="row">
                <div class="col-md-12" align="center">
                    <div class="pagination">
                    <span class="step-links">
                        {% if object_list.has_previous %}
                            <a href="?{{ page_change_var }}=1">&laquo; first</a>
                            <a href="?{{ page_change_var }}={{ object_list.previous_page_number }} {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
                        </span>

                        {% if object_list.has_next %}
                            <a href="?{{ page_change_var }}={{ object_list.next_page_number }} {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
                            <a href="?{{ page_change_var }}={{ object_list.paginator.num_pages }} ">last &raquo;</a>
                        {% endif %}
                    </span>
                    </div>
                </div>
            </div>
        </section><!-- /.gallery-section -->
        <div class="modal fade" id="myModal2" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" style="color: red">Message</h4>
                    </div>
                    <div class="modal-body">
                        <p>Please Log In to watch full gallery</p>
                    </div>
                    <div class="modal-footer" align="center">
                        <a href="{% url 'accountregistrations:Login' %}">
                            <button type="button" class="btn btn-primary">Log In</button>
                        </a>
                        <a href="{% url 'accountregistrations:Login' %}">
                            <button type="button" class="btn btn-primary">Sign Up</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}