{% extends 'accountregistrations/newbase.html' %}
{% load staticfiles %}
{% block head_title %}
    403 | {{ block.super }}
{% endblock %}
{% block content2 %}
    <div id="peace-layout">
        {% include 'accountregistrations/header.html' %}
    <div class="container" style="margin-top: 15px; padding-left: 12%">
        <div class="row" style="text-align: center">
            <div class="col-md-12" align="center">
			    <h1> Oops! Error 403 </h1>
			    <h2>Seems like you are not allowed to access this page!</h2>
			    <h2 style="text-align: center;padding-bottom: 40px;">
			        However, Thanks for stopping by! You can go start a search query right above, go to the <a href="/">landing page</a> or <a href="/#contact">report</a> the error in case you have expected something else to be here.
			        <p>&mdash; <a href="https://www.divyakripa.com/">Divya Kripa</a></p>
			    </h2>    
			</div>
        </div>
</div>
    </div>
{% endblock %}

