{% extends 'accountregistrations/newbase.html' %}
{% load staticfiles %}
{% block head_title %}
    200 | {{ block.super }}
{% endblock %}
{% block content2 %}
    <div id="peace-layout">
        {% include 'accountregistrations/header.html' %}
        <div class="container-fluid" style="margin-top: 15px; padding-left: 12%">
        <div class="row" style="text-align: center">
            <div class="col-md-12" align="center">
                <br>
			    <h1> Oops! Error 200 </h1>
			    <h2 >Seems like everything is perfect</h2>
			    <h2 style="text-align: center;padding-bottom: 40px;">
        			However, Thanks for stopping by! You can go start a search query right above, go to the <a href="/">landing page</a> or <a href="/#contact">report</a> the error in case you have expected something else to be here.</p>
                    <p>&mdash; <a href="https://www.divyakripa.com/">Divya Kripa</a></p>
        		</h2>
        	</div>
        </div>
</div>
    </div>
{% endblock %}