{% extends 'accountregistrations/newbase.html' %}
{% load staticfiles %}
{% block content2 %}
<div id="peace-layout">
    {% include 'accountregistrations/header.html' %}
  <div class="container" style="margin-top: 10%; margin-bottom: 10%">
        <div class="row" style="text-align: center">
            <div class="col-md-12" align="center" style="color: green; ">
                <h2>Your password has been set. You may go ahead and <a href="{% url 'darshan:home' %}">sign in</a> now.</h2>
  			</div>
        </div>
    </div>
</div>
{% endblock %}
  