{% extends 'accountregistrations/newbase.html' %}
{% load staticfiles %}
{% block content2 %}
    <style>
        .fa:hover{
            background-color: #f1c152;
        }
    </style>
    <div id="peace-layout">
        {% include 'accountregistrations/header.html' %}
        <div class="container" style="margin-top: 5%; margin-bottom: 5%">
            <div class="row">
                <div class="col-md-12" align="center">
                    <h3 style="text-align: center;">
                        Forgot password.Enter Your Email.
                    </h3>
                    <br>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <span style="text-align: center;">
                            <button type="submit" class="fa">Submit</button>
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}